<footer class="rtl">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 wow fadeIn" data-wow-offset="0">
        <h4>معلومات عنا</h4>
        <p>اكتسب الكتاب شهرة واسعة في حياة الإمام البخاري فروي أنه سمعه منه أكثر من سبعين ألفاً، وامتدت شهرته إلى الزمن
          المعاصر ولاقى قبولاً واهتماماً فائقين من العلماء فألفت حوله الكتب الكثيرة من شروح ومختصرات وتعليقات ومستدركات
          ومستخرجات </p>
        <ul class="list-unstyled social-links">
          <li><i class="fab fa-facebook-f fa-lg"></i></li>
          <li><i class="fab fa-twitter fa-lg"></i></li>
          <li><i class="fab fa-instagram fa-lg"></i></li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-6 wow fadeIn" data-wow-offset="0">
        <h4>افضل الكتب مبيعا</h4>
        <ul class="list-unstyled books">
          <li><a href="">كتاب البخاري</a></li>
          <li><a href="">كتاب ارشميدس</a></li>
          <li><a href="">كتاب الفلك</a></li>
          <li><a href="">كتاب البخاري</a></li>
          <li><a href="">كتاب ارشميدس</a></li>
          <li><a href="">كتاب الفلك</a></li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-6 wow fadeIn" data-wow-offset="0">
        <h4>اللينكات</h4>
        <ul class="list-unstyled links">
          <li routerLink="login"><a>الدخول</a></li>
          <li routerLink="sign-up"><a>التسجيل</a></li>
          <li><a href="">الكتب</a></li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-6 wow fadeIn" data-wow-offset="0">
        <h4>هل ليدك استفسار ؟</h4>
        <ul class="list-unstyled questions">
          <li>
            <i class="fas fa-map-marker-alt fa-lg"></i>
            <a href="">7 ش متولى الخولي ميدان التحرير</a>
          </li>
          <li>
            <i class="fas fa-phone fa-lg"></i>
            <a href="">011520548564</a>
          </li>
          <li>
            <i class="far fa-envelope fa-lg"></i>
            <a href="">info@email.com</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer-end wow fadeIn" data-wow-offset="0">
      &copy;2020 مكتبتي كل الحقوق محفوظة
    </div>
  </div>
</footer>
