<nav class="navbar navbar-expand-lg navbar-light rtl fixed-top animated fadeInDown">
  <div class="container">
    <a class="navbar-brand" routerLink="">مكتبتي</a>
    <div class="burger" (click)="toggleNav(navbar)">
      <div class="burger-top"></div>
      <div class="burger-middle"></div>
      <div class="burger-bottom"></div>
    </div>

    <div class="navbar-collapse" #navbar>
      <i class="fas fa-times" (click)="toggleNav(navbar)"></i>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item input-search">
          <a class="nav-link">
            <i class="fas fa-search"></i>
            <input type="text" placeholder="ابحث الذي تريده">
          </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="login" routerLinkActive="active-link">الدخول</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="sign-up" routerLinkActive="active-link">التسجيل</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
