<form>
  <div class="form-group slideInLeft wow" data-wow-delay="0s">
    <label for="name">الاسم</label>
    <input type="text" placeholder="برجاء ادخال الاسم">
  </div>
  <div class="form-group slideInLeft wow" data-wow-delay="0.1s">
    <label for="name">الايميل</label>
    <input type="text" placeholder="برجاء ادخال الايميل">
  </div>
  <div class="form-group slideInLeft wow" data-wow-delay="0.1s">
    <label for="name">الرمز</label>
    <input type="text" placeholder="برجاء ادخال الرمز">
  </div>
  <div class="form-group slideInLeft wow" data-wow-delay="0.2s">
    <label for="name">تأكيد الرمز</label>
    <input type="text" placeholder="برجاء ادخال التأكيد">
  </div>
  <div class="form-group slideInLeft wow" data-wow-delay="0.3s">
    <button>تسجيل</button>
  </div>
</form>
