<form>
  <div class="form-group">
    <label for="name">الاسم</label>
    <input type="text" placeholder="برجاء ادخال الاسم">
  </div>
  <div class="form-group">
    <label for="name">الايميل</label>
    <input type="text" placeholder="برجاء ادخال الايميل">
  </div>
  <div class="form-group">
    <label for="name">الرمز</label>
    <input type="text" placeholder="برجاء ادخال الرمز">
  </div>
  <div class="form-group">
    <label for="name">تأكيد الرمز</label>
    <input type="text" placeholder="برجاء ادخال التأكيد">
  </div>
  <div class="form-group">
    <button>تسجيل</button>
  </div>
</form>
