<div class="add-books rtl m-navbar">
  <div class="container">
    <h2 class="h1 animated fadeInDown">اضف الكتب التى تريدها هنا</h2>
    <form>
      <div class="form-group fadeInLeft wow" data-wow-delay="0s">
        <label for="name">اسم الكتاب</label>
        <input type="text" placeholder="برجاء ادخال اسم الكتاب">
      </div>
      <div class="form-group fadeInLeft wow" data-wow-delay="0.1s">
        <label for="name">اسم المؤلف</label>
        <input type="text" placeholder="برجاء ادخال اسم المؤلف">
      </div>
      <div class="form-group fadeInLeft wow" data-wow-delay="0.2s">
        <label for="name">عن الكتاب</label>
        <textarea type="text" placeholder="برجاء ادخال قصة الكتاب"></textarea>
      </div>
      <div class="form-group fadeInLeft wow" data-wow-delay="0.3s">
        <label for="name">صورة الكتاب</label>
        <input class="main-file" type="file" hidden #viewMainFile>
        <button type="button" class="file" #viewFile (click)="doFile(viewFile, viewIcon)">اختر الصورة</button>
        <i class="fas fa-times" #viewIcon hidden></i>
      </div>
      <div class="form-group fadeInLeft wow" data-wow-delay="0.3s">
        <button type="button">تأكيد الطلب</button>
      </div>
    </form>

  </div>
</div>
