<div class="home-page rtl m-navbar">
  <!--Start Home Carousel-->
  <div class="home-carousel  wow slideInDown">
    <div class="items" #homeCarousel>
      <div class="item activeHomeCarousel">
        <div class="overlay">
          <div class="content">
            <h2 class="h1">باقة جديدة من الكتب و المخطوطات بأنتظارك !</h2>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="overlay">
          <div class="content">
            <h2 class="h1">باقة جديدة من الكتب و المخطوطات بأنتظارك !</h2>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="overlay">
          <div class="content">
            <h2 class="h1">لا تفوت الفرصة ابدأ الان !</h2>
          </div>
        </div>
      </div>
    </div>
    <i class="fas fa-chevron-left" (click)="carouselLeftFn()"></i>
    <i class="fas fa-chevron-right" (click)="carouselRightFn()"></i>
  </div>
  <!--End Home Carousel-->

  <!--Start Home Books-->
  <div class="home-books">
    <h2 class="h1 text-center mb-5 wow fadeIn" data-wow-offset="300" data-wow-duration="2s">اهلا بك في موسوعة الكتب</h2>
    <div class="container">
      <div class="row contain-books">
        <div class="col-md-3 col-sm-6 book">
          <img src="../../../../assets/imgs/1.jpg" alt="" class=" wow slideInUp" data-wow-offset="300">
        </div>
        <div class="col-md-3 col-sm-6 book">
          <img src="../../../../assets/imgs/2.jpg" alt="" class=" wow slideInUp" data-wow-offset="300">
        </div>
        <div class="col-md-3 col-sm-6 book">
          <img src="../../../../assets/imgs/3.jpg" alt="" class=" wow slideInUp" data-wow-offset="300">
        </div>
        <div class="col-md-3 col-sm-6 book">
          <img src="../../../../assets/imgs/4.jpg" alt="" class=" wow slideInUp" data-wow-offset="300">
        </div>
      </div>
      <div class="row contain-books">
        <div class="col-md-3 col-sm-6 book">
          <img src="../../../../assets/imgs/5.jpg" alt="" class=" wow slideInUp" data-wow-offset="300">
        </div>
        <div class="col-md-3 col-sm-6 book">
          <img src="../../../../assets/imgs/6.jpg" alt="" class=" wow slideInUp" data-wow-offset="300">
        </div>
        <div class="col-md-3 col-sm-6 book">
          <img src="../../../../assets/imgs/7.jpg" alt="" class=" wow slideInUp" data-wow-offset="300">
        </div>
        <div class="col-md-3 col-sm-6 book">
          <img src="../../../../assets/imgs/8.jpg" alt="" class=" wow slideInUp" data-wow-offset="300">
        </div>
      </div>
    </div>
  </div>
  <!--End Home Books-->
</div>
