<div class="home-page rtl m-navbar">
  <!--Start Home Carousel-->
  <div class="home-carousel  wow slideInDown">
    <div class="items" #homeCarousel>
      <div class="item activeHomeCarousel">
        <div class="overlay">
          <div class="content">
            <h2 class="h1">باقة جديدة من الكتب و المخطوطات بأنتظارك !</h2>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="overlay">
          <div class="content">
            <h2 class="h1">باقة جديدة من الكتب و المخطوطات بأنتظارك !</h2>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="overlay">
          <div class="content">
            <h2 class="h1">لا تفوت الفرصة ابدأ الان !</h2>
          </div>
        </div>
      </div>
    </div>
    <i class="fas fa-chevron-left" (click)="carouselLeftFn()"></i>
    <i class="fas fa-chevron-right" (click)="carouselRightFn()"></i>
  </div>
  <!--End Home Carousel-->

  <mat-accordion class="aboutSearch">
    <div class="container">
      <mat-expansion-panel class="wow slideInUp" data-wow-offset="300">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div>
              <img src="../../assets/imgs/1.jpg" alt="">
            </div>
            <div class="about-search-header-content">
              <h6>اسم الكتاب</h6>
              <span>المؤلف</span>
            </div>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="content">
          <h6>عن الكتاب</h6>
          <p>جمع حوالي ستمائة ألف حديث. اشتهر شهرة واسعة وأقرّ له أقرانه وشيوخه ومن جاء بعده من العلماء بالتقدّم
            والإمامة</p>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel class="wow slideInUp" data-wow-offset="300">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div>
              <img src="../../assets/imgs/2.jpg" alt="">
            </div>
            <div class="about-search-header-content">
              <h6>اسم الكتاب</h6>
              <span>المؤلف</span>
            </div>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="content">
          <h6>عن الكتاب</h6>
          <p>جمع حوالي ستمائة ألف حديث. اشتهر شهرة واسعة وأقرّ له أقرانه وشيوخه ومن جاء بعده من العلماء بالتقدّم
            والإمامة</p>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel class="wow slideInUp" data-wow-offset="300">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div>
              <img src="../../assets/imgs/6.jpg" alt="">
            </div>
            <div class="about-search-header-content">
              <h6>اسم الكتاب</h6>
              <span>المؤلف</span>
            </div>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="content">
          <h6>عن الكتاب</h6>
          <p>جمع حوالي ستمائة ألف حديث. اشتهر شهرة واسعة وأقرّ له أقرانه وشيوخه ومن جاء بعده من العلماء بالتقدّم
            والإمامة</p>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel class="wow slideInUp" data-wow-offset="300">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div>
              <img src="../../assets/imgs/5.jpg" alt="">
            </div>
            <div class="about-search-header-content">
              <h6>اسم الكتاب</h6>
              <span>المؤلف</span>
            </div>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="content">
          <h6>عن الكتاب</h6>
          <p>جمع حوالي ستمائة ألف حديث. اشتهر شهرة واسعة وأقرّ له أقرانه وشيوخه ومن جاء بعده من العلماء بالتقدّم
            والإمامة</p>
        </div>
      </mat-expansion-panel>
    </div>
  </mat-accordion>

</div>
