%links {
  li {
    cursor: pointer;
    &:not(:last-child) {
      margin-bottom: 10px;
    }
    &:hover {
      a {
        color: #efefef;
        &:after {
          width: 100%;
        }
      }
    }
    a {
      position: relative;
      color: #fff;
      transition: all 0.3s ease-in-out;
      padding-bottom: 3px;
      text-decoration: none;
      &:after {
        transition: all 0.3s ease-in-out;
        position: absolute;
        content: "";
        width: 0%;
        height: 2px;
        background-color: #fff;
        left: 0;
        bottom: 0;
      }
    }
  }
}

%form {
  label {
    display: block;
  }
  input {
    &:not(.file) {
      border: 2px solid $mainColor;
      outline: none;
      padding: 6px 10px;
      transition: all 0.2s ease-in-out;
      border-radius: 5px;
      width: 80%;
      &:focus {
        border-color: #b8d1ff;
      }
    }
  }
  button {
    background-color: $mainColor;
    border: none;
    color: #fff;
    padding: 5px 30px;
    border-radius: 5px;
    font-weight: bold;
    transition: all 0.2s ease-in-out;
    &:focus {
      background-color: #98bbfc;
    }
  }
}
