<div class="book-details rtl">
  <div class="container">
    <!--Start Book-->
    <div class="book">
      <div class="book-img">
        <img src="../../../../assets/imgs/american.webp" alt="">
      </div>
      <div class="about-book">
        <div class="about-book-child">
          <h2 class="h1">اسم الكتاب</h2>
          <span>المؤلف</span>
          <p>اشتهر شهرة واسعة وأقرّ له أقرانه وشيوخه ومن جاء بعده من العلماء بالتقدّم والإمامة في الحديث وعلومه، حتّى
            لقّب بأمير المؤمنين في الحديث.(2) وتتلمذ عليه كثير من كبار أئمة الحديث كمسلم بن الحجاج وابن خزيمة
            والترمذي...
          </p>
        </div>
      </div>
    </div>
    <!--End Book-->

    <!--Start Like Books-->
    <div class="book-like">
      <div class="image-carousel">
        <div class="inner" #innerCarousel>
          <img src="../../../../assets/imgs/1.jpg" alt="">
          <img src="../../../../assets/imgs/2.jpg" alt="">
          <img src="../../../../assets/imgs/3.jpg" alt="">
          <img src="../../../../assets/imgs/4.jpg" alt="">
          <img src="../../../../assets/imgs/5.jpg" alt="">
          <img src="../../../../assets/imgs/6.jpg" alt="">
          <img src="../../../../assets/imgs/7.jpg" alt="">
          <img src="../../../../assets/imgs/8.jpg" alt="">
          <img src="../../../../assets/imgs/9.jpg" alt="">
        </div>
        <div class="bubbles"></div>
        <i class="fas fa-angle-left" (click)="prevFn()"></i>
        <i class="fas fa-angle-right" (click)="nextFn()"></i>
      </div>
    </div>
    <!--End Like Books-->

    <!--Start Reviews-->
    <div class="reviews">
      <div class="leave-a-comment">
        <div class="profile-comment">
          <img src="../../../../assets/imgs/review-img.png" alt="">
        </div>
        <div class="go-to-comment">
          <h6>محمد احمد عبد المنعم</h6>
          <input placeholder="ارسل تعليقك">
          <button>اتمام التعليق</button>
        </div>
      </div>
      <div class="comments">
        <h2 class="h1">التعليقات</h2>
        <div class="comment">
          <div class="profile-img">
            <img src="../../../../assets/imgs/review-img.png" alt="">
          </div>
          <div class="comment-title">
            <h6>محمود احمد</h6>
            <p>كتاباً مجرّداً للحديث الصحيح. ومن أوّل من ألّف في تاريخ الرجال. امتُحن أواخر حياته وتُعصّب عليه حتى أُخرج
              من نيسابور وبخارى فنزل إحدى قرى سمرقند فمرض وتوفيّ بها.</p>
          </div>
          <div class="comment-time">
            <p>
              منذ 5 دقائق
            </p>
          </div>
        </div>
        <div class="comment">
          <div class="profile-img">
            <img src="../../../../assets/imgs/review-img.png" alt="">
          </div>
          <div class="comment-title">
            <h6>محمود احمد</h6>
            <p>كتاباً مجرّداً للحديث الصحيح. ومن أوّل من ألّف في تاريخ الرجال. امتُحن أواخر حياته وتُعصّب عليه حتى أُخرج
              من نيسابور وبخارى فنزل إحدى قرى سمرقند فمرض وتوفيّ بها.</p>
          </div>
          <div class="comment-time">
            <p>
              منذ 5 دقائق
            </p>
          </div>
        </div>
        <div class="comment">
          <div class="profile-img">
            <img src="../../../../assets/imgs/review-img.png" alt="">
          </div>
          <div class="comment-title">
            <h6>محمود احمد</h6>
            <p>كتاباً مجرّداً للحديث الصحيح. ومن أوّل من ألّف في تاريخ الرجال. امتُحن أواخر حياته وتُعصّب عليه حتى أُخرج
              من نيسابور وبخارى فنزل إحدى قرى سمرقند فمرض وتوفيّ بها.</p>
          </div>
          <div class="comment-time">
            <p>
              منذ 5 دقائق
            </p>
          </div>
        </div>
        <div class="comment">
          <div class="profile-img">
            <img src="../../../../assets/imgs/review-img.png" alt="">
          </div>
          <div class="comment-title">
            <h6>محمود احمد</h6>
            <p>كتاباً مجرّداً للحديث الصحيح. ومن أوّل من ألّف في تاريخ الرجال. امتُحن أواخر حياته وتُعصّب عليه حتى أُخرج
              من نيسابور وبخارى فنزل إحدى قرى سمرقند فمرض وتوفيّ بها.</p>
          </div>
          <div class="comment-time">
            <p>
              منذ 5 دقائق
            </p>
          </div>
        </div>
      </div>
    </div>
    <!--End Reviews-->
  </div>
</div>
